body {
    background-color: lightblue;
    font-family: 'https://www.dafont.com/es/apple-garamond.font';
}

.styNavbar {
    background-color: lightskyblue;
}

* {
    font-family: 'https://www.dafont.com/es/apple-garamond.font';
}

/*.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}*/

.embed-responsive .card-img-top {
    object-fit: cover;
}
