body {
    background-color: lightblue;
}

.styNavbar {
    background-color: lightskyblue;
}

.btnBuscar {
    margin-top: 23.8px;
}

.buttons {
    margin: 3px !important;
    outline: 3px;
}

#fila{
    margin:50px;
}

